@model AssetaWeb.Models.LoginTbl
@{
    ViewData["Title"] = "signup";
}

<section class="content-header">
    <h1>
        Create New User
        <small></small>
    </h1>

    <br />

</section>
<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content container-fluid">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="col-sm-12">
                <form asp-action="signup">
                    <div class="row form-border">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">

                            <div class="col-sm-6">

                                <div class="row">
                                    <div class="col-sm-4">
                                        <b>Name</b>
                                    </div>
                                    <div class="col-sm-8">
                                        <input asp-for="name" class="form-control" autocomplete="off"  />
                                    </div>
                                </div>
                                <span asp-validation-for="name" class="text-danger"></span>
                                <br />

                                <div class="row">
                                    <div class="col-sm-4">
                                        <b>Email</b>
                                    </div>
                                    <div class="col-sm-8">
                                        <input asp-for="Email" class="form-control" autocomplete="off" />
                                    </div>
                                </div>
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <br />


                                <div class="row">
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-8">

                                    </div>
                                </div><br />

                            </div>

                            <div class="col-sm-6">

                                <div class="row">
                                    <div class="col-sm-4">
                                        <b>Username</b>
                                    </div>
                                    <div class="col-sm-8">
                                        <input asp-for="Username"  autocomplete="off"   class="form-control" style="border-radius:10px; height:50px;"/>
                                    </div>
                                </div>
                                <span asp-validation-for="Username" class="text-danger"></span>
                                <br />

                                <div class="row">
                                    <div class="col-sm-4">
                                        <b>Password</b>
                                    </div>
                                    <div class="col-sm-8">
                                        <input asp-for="Pass" class="form-control" autocomplete="off" />
                                    </div>
                                </div>
                                <span asp-validation-for="Pass" class="text-danger"></span>
                                <br />

                                <div class="row">
                                    <div class="col-sm-4">
                                        <b>Type</b>
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(model => model.type, ViewBag.Role as List<SelectListItem>, htmlAttributes: new { @class = "form-control", @name = "drop", @id = "drop", @style = "display: true" })
                                    </div>
                                </div>
                                <span asp-validation-for="type" class="text-danger"></span>
                                <br />

                                <div class="row">
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-8">
                                        @*<input type="submit" value="Create" class="btn  btn-default" />*@
                                        <button type="submit" class="btn btn-default">
                                            <i class="far fa-save"></i>&nbsp;&nbsp;Create Data
                                        </button>
                                    </div>
                                </div><br />

                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</section>


