@model IEnumerable<AssetaWeb.Models.TechnicianTbl>

@{
    ViewData["Title"] = "Index";
}

<section class="content-header">
    <h1>
        Technician Master
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"> Master</a></li>
        <li class="active">Technician Master</li>
    </ol>
    <br />
    <p>
        <a asp-action="Create" class="btn btn-default">
            <i class="fa fa-plus-square"></i>
            <span>&nbsp;  Add New Data</span>
        </a>
    </p>
</section>
<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content container-fluid">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">All of Data in Technician Master</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="DataTableSite" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Technician Id</th>
                        <th>Technician Name</th>

                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.TechnicianId)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.TechnicianName)
                            </td>

                            <td>
                                <a asp-action="Edit" asp-route-Id="@item.TechnicianId" class="btn  btn-default">
                                    <i class="fa fa-edit"></i>
                                    <span>Edit</span>
                                </a>&nbsp;

                                <a asp-controller="Site" asp-action="Delete" asp-route-id="@item.TechnicianId" class="btn  btn-default">
                                    <i class="fas fa-trash-alt"></i>
                                    <span>Delete</span>
                                    @*<input type="submit" value="Delete" class="btn btn-sm btn-danger" />*@
                                </a>
                            </td>
                        </tr>
                    </tbody>
                }

            </table>
        </div>
        <!-- /.box-body -->
    </div>
</section>
