@model AssetaWeb.Models.AssetGroupTbl
@{
    ViewData["Title"] = "Create";
}

<section class="content-header">
    <h1>
        Create New Asset Group Master
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"> Master</a></li>
        <li><a asp-area="" asp-controller="AssetGroup" asp-action="Index">Asset Group Master</a></li>
        <li class="active">Create New Data</li>
    </ol>
    <br />

</section>
<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content container-fluid">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="col-sm-12">
                <form asp-action="Create">
                    <div class="row form-border">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">

                            <div class="col-sm-6">

                                <div class="row">
                                    <div class="col-sm-4">
                                        <b>Asset Group Code</b>
                                    </div>
                                    <div class="col-sm-8">
                                        <input asp-for="AssetGroupCode" class="form-control" autocomplete="off" readonly="readonly"/>
                                    </div>
                                </div>
                                <span asp-validation-for="AssetGroupCode" class="text-danger"></span>
                                <br />

                                <div class="row">
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-8">

                                    </div>
                                </div><br />

                                <div class="row">
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-8">

                                    </div>
                                </div><br />

                            </div>

                            <div class="col-sm-6">

                                <div class="row">
                                    <div class="col-sm-4">
                                        <b>Asset Group Name</b>
                                    </div>
                                    <div class="col-sm-8">
                                        <input asp-for="AssetGroupName" class="form-control" autocomplete="off" />
                                    </div>
                                </div>
                                <span asp-validation-for="AssetGroupName" class="text-danger"></span>
                                <br />

                                <div class="row">
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-8">

                                    </div>
                                </div><br />


                                <div class="row">
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-8">
                                        @*<input type="submit" value="Create" class="btn btn-lg btn-primary" />*@
                                        <button type="submit" class="btn btn-default">
                                            <i class="far fa-save"></i>&nbsp;&nbsp;Create Data
                                        </button>
                                    </div>
                                </div><br />

                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</section>
