@model AssetaWeb.Models.AssetGroupTbl
@{
    ViewData["Title"] = "Edit";
}

<section class="content-header">
    <h1>
        Edit Asset Group Master
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"> Master</a></li>
        <li >Asset Group Master</li>
        <li class="active">Edit Asset Group Master</li>
    </ol>
    <br />
</section>
<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content container-fluid">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="col-sm-12">
                <form asp-action="Edit">
                    <div class="row form-border">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">

                            <div class="col-sm-6">

                                <div class="row">
                                    <div class="col-sm-4">
                                        <label asp-for="AssetGroupId"></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input asp-for="AssetGroupId" class="form-control" autocomplete="off" />
                                    </div>
                                </div>
                                <span asp-validation-for="AssetGroupId" class="text-danger"></span>
                                <br />

                                <div class="row">
                                    <div class="col-sm-4">
                                        <label asp-for="AssetGroupCode"></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input asp-for="AssetGroupCode" class="form-control" autocomplete="off" />
                                    </div>
                                </div>
                                <span asp-validation-for="AssetGroupCode" class="text-danger"></span>
                                <br />

                                <div class="row">
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-8">

                                    </div>
                                </div><br />

                            </div>

                            <div class="col-sm-6">

                                <div class="row">
                                    <div class="col-sm-4">
                                        <label asp-for="AssetGroupName"></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input asp-for="AssetGroupName" class="form-control" autocomplete="off" />
                                    </div>
                                </div>
                                <span asp-validation-for="AssetGroupName" class="text-danger"></span>
                                <br />

                                <div class="row">
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-8">

                                    </div>
                                </div><br />





                                <div class="row">
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-8">
                                        <input type="submit" value="Edit" class="btn btn-lg btn-primary" />
                                    </div>
                                </div><br />

                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</section>

