@model AssetaWeb.Models.PeriodTbl
@{
    ViewData["Title"] = "Edit";
}

<section class="content-header">
    <h1>
        Create New Period Master
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li>Master</li>
        <li><a asp-area="" asp-controller="Period" asp-action="Index">Period Master</a></li>
        <li class="active">Create New Data</li>
    </ol>
    <br />

</section>
<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content container-fluid">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="col-sm-12">
                <form asp-action="Edit">
                    <div class="row form-border">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">

                            <div class="col-sm-6">

                                <div class="row">
                                    <div class="col-sm-4">
                                        <b>Period Type</b>
                                    </div>
                                    <div class="col-sm-8">
                                        <input asp-for="PeriodType" class="form-control" autocomplete="off" />
                                    </div>
                                </div>
                                <span asp-validation-for="PeriodType" class="text-danger"></span>
                                <br />

                                <div class="row" hidden>
                                    <div class="col-sm-4">
                                        <b>Period ID/b>
                                    </div>
                                    <div class="col-sm-8">
                                        <input asp-for="PeriodId" class="form-control" autocomplete="off" />
                                    </div>
                                </div>
                                <span asp-validation-for="PeriodId" class="text-danger"></span>
                                <br />

                            </div>

                            <div class="col-sm-6">

                                <div class="row">
                                    <div class="col-sm-4">
                                        <b>Days</b>
                                    </div>
                                    <div class="col-sm-8">
                                        <input asp-for="Days" class="form-control" autocomplete="off" />
                                    </div>
                                </div>
                                <span asp-validation-for="Days" class="text-danger"></span>
                                <br />


                                <div class="row">
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-8">
                                        @*<input type="submit" value="Create" class="btn  btn-default" />*@
                                        <button type="submit" class="btn btn-default">
                                            <i class="fa fa-edit"></i>&nbsp;&nbsp;Save Changes
                                        </button>
                                    </div>
                                </div><br />

                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</section>

